body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

ul li a {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #1f818e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    color: #14555d;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

h1 {
    text-align: center;
    background-color: #1f818e;
    color: #fff;
    padding: 20px;
}

a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #1f818e;
    padding: 25px;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

p {
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    /* text-align: left; */
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.centered-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #1f818e;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
 

input[type="submit"]:hover {
    background-color: #14555d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
